.feedback-form-component {
  max-width: 960px;

  md-input-container {
    margin-top: 1rem;
  }

  @media (max-width: 960px) {
    md-radio-button {
      justify-content: flex-start;
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
